body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
h2 {
    font-size: 10px;
    margin-bottom: 0px;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 40px;
    background-color: white;
    box-shadow: 2px 2px 9px gray;
}

.title {
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.textinput__margin {
    margin-bottom: 20px;
}

.textinput {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.container__button {
    margin-top: 30px;
    border-radius: 1px;
    background-color: rgb(246, 193, 2);
    width: 60%; 
    padding: 10px;
}

.container__button :hover {
    background-color: grey;
}

.container__button :active {
    background-color: black;
    color: white;
}

input {
    margin-top: 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #C6BDBD;
    border: 1px solid #C6BDBD;
}

.textinput__postnummer-input {
    width: 50px;
}

.tilbud-epost {
    padding-top: 20px;
    font-family: 'Inter';
    font-size: 10px;

}
.tilbud-sms {
    padding-top: 20px;
    font-family: 'Inter';
    font-size: 10px;

}

.notification-wrapper {
    display: flex;
    flex-flow: row nowrap;
    font-size: 10px;
    padding-top: 10px;
}

.notification-wrapper__button {
    position: relative;
    left: 0;
    bottom: 3px;    
    border: 1px solid black;
    border-radius: 10px;
    padding: 4px;
}

.notification-wrapper__nei-takk {
    padding-left: 7px;
}

notification-wrapper__button:hover {
    background-color: gray;
}

notification-wrapper__button:active {
    background: black;
}